@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-blue {
    background-color: #24276f;
  }
  .text-blue {
    color: #24276f;
  }
  .bg-blue-light {
    background-color: #f0f6fe!important;
  }
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 20px;
  border: 3px solid transparent;
}

div:focus {
  outline: none;
}